---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>loudbytes</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>About Me</h1>
        <h2>...and the loudbytes blog!</h2>

        <p>This is an introductory Astro tutorial where I am learning how Astro works!</p>
        <p>So far, I like it!</p>
	</body>
</html>
