---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "loudbytes - Home Page";
const bodyTitle = "Home";
---
<BaseLayout pageTitle={pageTitle} bodyTitle={bodyTitle}>
	<h2>Awesome Blog!</h2>
</BaseLayout>

