---
import Social from "./Social.astro";   
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
<footer>
    <p>Follow my work:</p>
    <Social platform="github" username="mateocodes"/>
    <Social platform="twitter" username="mateocodes"/>
    <Social platform="linkedin" username="in/mateokomljenovic"/>
</footer>